@model UserDeliveryInfo
<form method="post">
<div class="row" >
        <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="col">
        <div>
                <div>
                    <label asp-for="Name">Введите Имя и Фамилию</label><br />
                    <input name="Name" /> <br />
                    <span asp-validation-for="Name" class="text-danger"></span> <br />
                </div>
        </div>

        <div>
                <div>
                    <label asp-for="Phone">Введите телефон</label><br />
                    <input name="Phone" /> <br />
                    <span asp-validation-for="Phone" class="text-danger"></span> <br />
                </div>
        </div>

        <div>
                <div>
                    <label asp-for="Address">Введите адрес доставки</label><br />
                    <input name="Address" /> <br />
                    <span asp-validation-for="Address" class="text-danger"></span> <br />
                </div>
        </div>
        <br/>
            <button class="btn btn-success type="submit" asp-controller="Order" asp-action="Buy">Оформить заказ</button>
    </div>

</div>
</form>