@model ChangePassword
<form method="post">
    <div class="row">
        <h2>Смена пароля</h2>

        <input type="hidden" name="userName" value="@Model.UserName" />
        <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
        <div class="col">
            <div>
                <label asp-for="Password">Цена товара</label><br />
                <input class="form-control" asp-for="Password"/> <br />
                <span asp-validation-for="Password" class="text-danger"></span> <br />
            </div>

            <div>
                <label asp-for="ConfirmPassword">Описание товара</label><br />
                <input class="form-control" asp-for="ConfirmPassword"/> <br />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span> <br />
            </div>

            <br />
            <button class="btn btn-success type="submit"
                asp-area="Admin"
                asp-controller="User"
                asp-action="ChangePassword">Сменить</button>
            <br />
        </div>

    </div>

</form>