<div class="col-3">
    <div>
        <a  asp-area="Admin"
            asp-controller="Order"
            asp-action="Index">Заказы</a>
    </div>

    <div>
        <a asp-area="Admin"
           asp-controller="User"
           asp-action="Index">Пользователи</a>
    </div>

    <div>
        <a asp-area="Admin"
           asp-controller="Role"
           asp-action="Index">Роли</a>
    </div>

    <div>
        <a asp-area="Admin"
           asp-controller="Product"
           asp-action="Index">Продукты</a>
    </div>
</div>